.data { 
    /* border : 1px solid red; */
    width: 1170px;
    margin: 0 auto;
    height: 100px;
    max-width: 1170px;
    width: 1170px;
   
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 คอลัมน์ที่มีขนาดเท่ากัน */
    grid-template-rows: repeat(4, 0fr); /* 4 แถวที่มีขนาดเท่ากัน */
    gap: 0px; /* ระยะห่างระหว่างรายการ */
}
.name p{ 
    font-size: 32px ;
    margin-left: 100px;
    color : #318CE7;
    /* border : 1px solid red; */
    margin-bottom: 10px;
   

}
.box-other{
    /* border: 1px solid red; */
    height:300px;
    width: 1170px;
    margin: 0 auto;
    font-weight: bold;

}