.body-web-1{ 
    margin: 0 auto;
    background-color: #ECECEC;
    box-sizing: border-box;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column ; /* จัดให้อยู่ในรูปแบบคอลัมน์ */
    align-items: center;
    text-align: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
    padding: 30px; /* เพิ่มการเติมระยะขอบ */
    height: 1700px; 
}
.body-web-1 h1 {
    font-size: 60px;
    color : #318CE7;
    margin-top: 180px;
   
}
.select-mode-1 { 
    margin-top: 50px;
    font-size: 32px;
    font-family: 'Kanit', sans-serif;
    color : #318CE7;
    padding : 0px 10px 0px 0px ;
    
    
    
}
option{
    text-align: center;
    width: 300px;
} 
.select-mode-1{ 
    width: 400px;
    height: 90px;
    background-color: white;
    /* border : 1px solid red; */
    border-radius: 50px;
    border: none;
}
   
.select-mode-1 select {
    margin-top: 15px;
    width: 280px;
    height: 60px;
    font-size: 28px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: white; 
}
.input-search-1 { 
    margin-top: 20px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    max-width: 830px;
    height: px;
    margin-bottom: 40px;
    /* border : 1px solid red; */
    
    
}
.select-icon-1S{ 
    font-size: 24px;
    
    
}

.input-search-1 input {
    outline: none;
    width: 830px;
    height: 80px;
    font-size: 24px;
    border-radius: 40px ;
    cursor: pointer;
    border: none;
    background-color: white;
    padding-left: 20px;
    /* border : 1px solid red; */
    border: none;
    

    
    
}
.input-search-1 img {
    margin-top: 10px;
    /* border : 1px solid red; */
    width: 55px;
    height: 55px;
    margin-right: 10px;
    margin-left: 10px; 
}
.grid-layout-1 { 
    max-width: 1170px;
    width: 1170px;
    /* border : 1px solid red; */
    height: 870px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 คอลัมน์ที่มีขนาดเท่ากัน */
    grid-template-rows: repeat(4, 0fr); /* 4 แถวที่มีขนาดเท่ากัน */
    gap: 0px; /* ระยะห่างระหว่างรายการ */
}




